
/*
section{
    margin-top:100px;
}

div{
    width: 200px;
    height: 50px;
    text-align: center;
    background-color: #A9D0F5;
    border:2px solid black;
    margin:10px auto;
}
div:nth-of-type(2n){
    background-color: #507DBC;
}

div:nth-of-type(3n){
    background-color: #1764d0;
} */


#one{

    /*transform is used to rotate the div*/
    transform: rotate(-45deg);
}

#two{
    /*transform scale is used to resize the div*/
    transform: scale(0.5);
}

#three{
    /*transform translate is used to move the div*/
    transform: translate(100px);
}

#four{
    /*transform skew is used to slant the div*/
    transform: skew(30deg);
}

#five{
    /*transform all */
    transform: rotate(20deg) skew(10deg) ;
}

#box{
    width: 800px;
    height: 400px;
    text-align: center;
    background-color: #6ba3d7;
    margin:10px auto;
  

    /*box-shadow is used to give shadow to the div*/
    box-shadow: 2px 2px 8px black;

    /*background-image is used to set an image as background*/
    background-image: url("background\ photo.jpg");

    /*background-size is used to set the size of the background image*/
    /*contain makes the image fit within the div without stretching*/
    /*cover makes the image cover the entire div, possibly cropping it*/
    background-size: cover;
    color:white;
}

   




.card{
    width: 200px;
    height: 200px;
    margin: 20px;
    border: 2px solid black;
    display: inline-block;
    margin: 10px;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0px 4px 8px black;
    transition: 1px;

.desc{ 
    padding: 0 2px 0 2px;
}    
    
}
img{
    width: 100%;
}

.card:hover{
    box-shadow: 0px 8px 16px goldenrod;
    transition: 1px;
}

