.container{
    height: 300px;
    width: 600px;
    background-color: rgb(217, 232, 140);

    /*grid is used to create a 2x2 grid of cells*/
    display: grid;

    /*grid-template-row is used to define the rows of the grid*/
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
    /*row gap is used to add a gap between the rows*/
    row-gap:10px;
    column-gap: 30px; 

    /*grid-gap is used to add a gap between the cells*/
    grid-gap:10px 30px;
   
} 

.item{
    width: 100px;
    height: 50px;  
    background-color: greenyellow;
    border:2px solid black;
    text-align: center;

}
#one{
    grid-column-start:1;
    grid-column-end: 3;
    grid-column:1 3;
}  

